
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Index</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="tableData" class="table table-bordered table-responsive-md">
                        <thead>
                            <tr>
                                <th>Nama</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/web/IndexProductCategory.js"></script>