
@{
    ViewData["Title"] = "Index";
}


<div class="container-fluid">
    <div class="card card-default">
        <div class="card-header">
            <h3 class="card-title">Index</h3>
            <div class="card-tools">
                <button type="button" class="btn btn-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-12">
                    <table id="tableData" class="table table-bordered table-responsive-md">
                        <thead>
                            <tr>
                                <th>Nama</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    let viewModel = {
        table : ko.observable(),
        Event: {
            BindTable: function () {
                this.table = $('#tableData').DataTable({
                    dom: 'Bfrtip',
                    "buttons": [
                        {
                            text: '<i class="fa fa-plus" aria-hidden="true"></i>',
                            action: function (e, dt, node, config) {
                                alert('Button activated');
                            },
                            className: 'btn-add'
                        }
                    ],
                    "paging": true,
                    "responsive" : true,
                    "lengthChange": false,
                    "searching": true,
                    "ordering": true,
                    "info": true,
                    "autoWidth": true,
                    "serverSide": true,
                    "processing": true,
                    "ajax": {
                            url: "api/ApiProductCategory/ViewGrid",
                            type: "GET"
                    },
                    "columns": [
                        { data: "Name", title: "Nama" }
                    ]

                });

                //this.table.buttons().container()
                //    .appendTo('#example_wrapper .col-md-6:eq(0)');
            }
        }
    }

    $(function () {
        ko.applyBindings(viewModel);
        viewModel.Event.BindTable();
        console.log(viewModel.table);
    });

</script>